In [51]:
#install libraries
import pandas as pd

In [52]:
df=pd.read_csv('students_adaptability_level_online_education.csv')
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [54]:
print("1.Gender")
print(df['Gender'].value_counts())
print("")
print("2.Age")
print(df['Age'].value_counts())
print("")
print("3.Education Level")
print(df['Education Level'].value_counts())
print("")
print("4.Institution Type")
print(df['Institution Type'].value_counts())
print("")
print("5.IT Student")
print(df['IT Student'].value_counts())
print("")
print("6.Location")
print(df['Location'].value_counts())
print("")
print("7.Load-shedding")
print(df['Load-shedding'].value_counts())
print("")
print("8.Financial Condition")
print(df['Financial Condition'].value_counts())
print("")
print("9.Internet Type")
print(df['Internet Type'].value_counts())
print("")
print("10.Network Type")
print(df['Network Type'].value_counts())
print("")
print("11.Class Duration")
print(df['Class Duration'].value_counts())
print("")
print("12.Self Lms")
print(df['Self Lms'].value_counts())
print("")
print("13.Device")
print(df['Device'].value_counts())
print("")

1.Gender
Boy     663
Girl    542
Name: Gender, dtype: int64

2.Age
21-25    374
11-15    353
16-20    278
1-5       81
26-30     68
6-10      51
Name: Age, dtype: int64

3.Education Level
School        530
University    456
College       219
Name: Education Level, dtype: int64

4.Institution Type
Non Government    823
Government        382
Name: Institution Type, dtype: int64

5.IT Student
No     901
Yes    304
Name: IT Student, dtype: int64

6.Location
Yes    935
No     270
Name: Location, dtype: int64

7.Load-shedding
Low     1004
High     201
Name: Load-shedding, dtype: int64

8.Financial Condition
Mid     878
Poor    242
Rich     85
Name: Financial Condition, dtype: int64

9.Internet Type
Mobile Data    695
Wifi           510
Name: Internet Type, dtype: int64

10.Network Type
4G    775
3G    411
2G     19
Name: Network Type, dtype: int64

11.Class Duration
1-3    840
3-6    211
0      154
Name: Class Duration, dtype: int64

12.Self Lms
No     995
Yes    210
Name: Self Lms, dtype: int64

13.Device
Mobile      1013
Computer     162
Tab           30
Name: Device, dtype: int64